[2015-01-14 11:26] yrashk opened #4 "Any chance to rename the application?"
Hi,

Any chance to rename the application to avoid the clash with https://github.com/kivra/oauth2? I want to use both apps!

Thanks :)

[2015-01-19 17:58] scrogson commented on #4
Would `:o_auth2` suffice?

[2015-01-19 18:21] yrashk commented on #4
That works, too

On Tuesday, January 20, 2015, Sonny Scroggin <notifications@github.com>
wrote:

--
Y.
My company is hiring: https://trustatom.com/jobs

[2015-02-22 05:41] atbyrd opened #7 "Google Support?"
Does this work with google? I am getting a missing required param :scope error when trying to use with google

[2015-02-24 04:25] scrogson commented on #7
Please see related comment in #8

[2015-02-24 04:25] #7 closed

[2015-05-05 05:39] philippkueng opened #15 "Implement scope attribute to make it useable with Google"
Hi Sonny,

I'm wondering if Google OAuth support is already on your roadmap and/or if you would welcome any help in the form of PRs?

From looking at a couple of libraries from other languages so far, implementing additional providers always seems a mess. Therefore I kind of like the approach that @hapijs took with [bell](https://github.com/hapijs/bell), with this library could can define custom p

[2015-05-05 09:54] scrogson commented on #15
`scope` is simply a query string param that can be passed into the `authorize_url` function. So what you're asking for is already supported.

When making your own strategy you can simply use `put_param` to add the `scope` to to the `params` key on the client struct.

Have a look at the `README`. I've got an example of how you can build your own strategy for GitHub.

Hope that helps.

[2015-05-05 10:34] philippkueng commented on #15
@scrogson omg, I'm really sorry, that's quite embarrassing.
Thought I double checked the readme. Thanks very much for clarifying it and helping me out.

Cheers

[2015-05-05 10:34] #15 closed

[2015-06-15 17:47] vitaliel opened #17 "Respond with error when token is expired"
Server headers:

[[{"Server", "nginx"}, {"Date", "Mon, 15 Jun 2015 17:43:08 GMT"}, {"Content-Length", "0"}, {"WWW-Authenticate", "Bearer realm=\"Service\", error=\"invalid_token\", error_description=\"The access token provided is invalid.\""}, {"Age", "0"}, {"Connection", "keep-alive"}]

and body is blank. Stack trace:

** (Poison.SyntaxError) Unexpected end of input
             lib/poison/parser

[2015-06-15 17:54] scrogson commented on #17
@vitaliel thank you. I will look into this soon.

[2015-06-26 21:43] josevalim opened #18 "Have clear installation instructions"
The instructions should ask users to add it as a deps and then add it to the list of applications.

[2015-06-27 00:19] #18 closed

[2015-07-02 20:47] scrogson commented on #4
Hey @yrashk I've decided against renaming as it's already been on `hex` for many months now. Let me know what features `kivra/oauth2` provides that are missing here and I'll see if I can work it in.

I've changed the API a bit since this issue was first created and I plan on making more improvements.

[2015-07-02 20:47] #4 closed

[2015-07-09 18:19] rockerBOO opened #19 "put_param encoding "+", how to do literal?"
In the Twitch OAuth documentation, they have scopes separated by + signs. I am passing in `put_param(:scope, "user_follows_edit+user_read")` and it goes to `scope=user_follows_edit%2Buser_read`.

I need it to go to the literal + like `scope=user_follows_edit+user_read`. Is this possible currently?

[2015-07-09 20:24] rockerBOO commented on #19
Not relevant to me anymore. Closing. Not sure how relevant it is I guess. They want a space separated, and show a + sign to show the encoding. A little confusing.

[2015-07-09 20:24] #19 closed

[2015-07-13 13:13] sumerman opened #20 "OAuth.Client has not way to pass connection options around"
We've been trying to implement authentication thru google oauth when we ran into CA-related issue. Basically Erlang's ssl does not know about CA that is used by Google APIs. Although one can pass all the necessary stuff down to hackney as `opts` thru `Request` (https://github.com/scrogson/oauth2/blob/master/lib/oauth2/request.ex#L9), this options are not exposed by `OAuth.Client` and are always `[

[2015-07-13 15:52] #20 closed

[2015-07-26 20:05] optikfluffel opened #23 "Make Content-Type in token_post_header configurable"
Hi, for getting an access-token from the SoundCloud API I had to change [`lib/oauth2/client.ex#L177`](https://github.com/scrogson/oauth2/blob/master/lib/oauth2/client.ex#L177) from
[code]
to
[code]
otherwise I'd just get a `406` with an empty body back.
Is there a way to configure this or build it into my own strategy?

Thanks

[2015-07-27 14:50] scrogson commented on #23
Hi @optikfluffel,

You will want to create your own custom strategy for this.

Have a look at the example custom strategy I made in the README [here]. If you look at the `get_token` function you'll see that I'm setting the "Accept" header there. You can do the same for the "Content-Type".

Let me know if you need any further help.

[here]: https://github.com/scrogson/oauth2#write-your-own-strategy

[2015-07-27 14:50] #23 closed

[2015-07-29 04:53] djinn opened #24 "Shopify Strategy"
I was following your example interface. I have hit a road block with Shopify Strategy. The code requires dynamic url for site, auth and token. Wondering how to incorporate that in the example?

[2015-07-29 05:19] scrogson commented on #24
@djinn looking at the [Shopify documentation], it looks like the base url is the same for all requests: https://{shop}.myshopify.com.

So I think the config for your strategy would be something like:

[code]

Let me know if this doesn't solve your issue.
[Shopify documentation]: https://docs.shopify.com/api/authentication/oauth

[2015-07-29 06:47] djinn commented on #24
Thanks.
I found in strategy file new function signature conflicted with OAuth.Client.new in case, I added argument. I modified new to create function and called that in authorize_url! and token_url!.

Now works.
[code]

[2015-07-29 13:56] scrogson commented on #24
Awesome!

[2015-07-29 13:56] #24 closed

[2015-08-24 09:59] optikfluffel opened #28 "AccessToken in URL param instead of Authentication header"
Hi, I'm playing around with the Soundcloud API and when doing a request they want me to put the `AccessToken` into an URL param like this `https://api.soundcloud.com/me?oauth_token=A_VALID_TOKEN` instead of putting it into the `Authorization` header as a Bearer token.
Could you give me a hint on what's the easiest way to get this going with your library?

Right now I'm simply doing this little, di

[2015-08-24 22:26] scrogson commented on #28
@optikfluffel currently, what you are doing is the only solution. I will fix this though. Right now, I've almost nearly rewritten `httpoison` inside this lib so that I could automatically parse the the body based on the `content-type` and `accept` headers. So I left out the fact that you can pass in `:params` into the `opts` for the `request` function.

I'll try to get this improved soon.

[2015-08-25 09:29] optikfluffel commented on #28
![Thank you](https://cloud.githubusercontent.com/assets/379915/9463348/6ed1b3f4-4b1c-11e5-9e98-d22e98cfe900.jpg)

[2015-10-20 18:30] meatherly opened #37 "Unauthorized responses from the provider are considered successful responses"
As of now when the provider returns a 401 status the `OAuth2.AccessToken.get/2` function returns a `{:ok, response}` tuple. This seems misleading. Shouldn't this be an error? I can have a pull request ready if you feel like this is an issue.

[2015-10-20 19:26] scrogson commented on #37
Hey @meatherly, yeah, I'm aware of this issue and I've got some work in progress to try and resolve it.

The problem is...the HTTP request was actually a success (you're getting back a response and it was parsed correctly).

Should anything in the `400..599` range return `{:error, error}`? I don't like that.

Thoughts?

[2015-10-20 19:53] meatherly commented on #37
I can see what you mean by not liking anything that comes back between `400..599` as an error because that doesn't mean it's necessarily an error. Seeing that the functionality of the module `OAuth2.AccessToken` is supposed to contact the oauth provider with the access token now makes it feel like a http client and in that case you'd want'd want to know what to do if the response was successful, n

[2015-10-20 20:02] scrogson commented on #37
Yes, I think that it should return `{:ok, %OAuth2.Response{}` or `{:error, %OAuth2.Error{}}`.

Right now it's just returning the `body` field, which is poor.

[2015-10-24 21:22] meatherly commented on #37
https://github.com/scrogson/oauth2/commit/4081b90a4555e3541953e2f78307bc003583db34#diff-ae6bc7a7e030e0509edda8d602a0b504R18
Thanks!  :+1:

(even though the code was mostly there on master and i'm an idiot for not realizing it :p )

[2015-10-24 21:23] #37 closed

[2015-10-24 23:09] scrogson commented on #28
@optikfluffel this should be fixed in master. Can you try it out and let me know?

[2015-10-24 23:10] scrogson commented on #17
@vitaliel this should be fixed on master. Please give it a try and let me know.

[2015-10-30 06:33] scrogson commented on #28
@optikfluffel confirmed: https://github.com/scrogson/oauth2/commit/bc5f8dcd4669740aac75d0dbffaa373dd70375eb

[2015-10-30 06:33] #28 closed

[2015-10-30 06:34] #17 closed

[2015-11-05 04:34] stavro opened #41 "Changelog Request!"
Please implement a changelog with deprecation notices in the future.

Thanks!

edit: Such as `OAuth2.new` to `OAuth2.Client.new`, and the access token response being returned instead of the body.

[2015-11-07 06:02] #41 closed

[2015-11-07 06:04] scrogson commented on #41
Hi @stavro,

I've added a changelog as requested. I have been adding changelogs to the release notes for each release. I'll start adding changes to the changelog and compiling those into release note from now on. Will probably be a better workflow.

Thanks!

[2015-11-11 16:53] edevil opened #42 "Support streaming requests through HTTPoison"
The underlying HTTP library, HTTPoison/Hackney, supports asynchronous requests but it seems that this library is not ready for them.

For example, in the case of response streaming:
[code]

It would be nice to support both response and request streaming. Or at least be able to generate the correct headers for a request so that we could drive HTTPoison ourselves.

[2015-11-20 22:45] waynehoover opened #43 "encode_query causing issues in OAuth.authorize_url! with params"
Hello, I have an API that requires the URL parameters for scope to contain literal `+` and not `%2B` so when I call `OAuth.authorize_url!` it eventually calls `URI.encode_query(client.params)` here https://github.com/scrogson/oauth2/blob/master/lib/oauth2/client.ex#L181 which makes my scope params look like this `scope=public%2Bread_user` instead of what the API expects, i.e. this `scope=public+re

[2015-11-21 14:50] scrogson commented on #43
Thanks for the report. I don't know the right answer at the moment but I will try to find out.

My gut tells me that the API should handle both. But maybe I need to fix it on my end.

[2015-11-21 16:50] meatherly commented on #43
@waynehoover how are you specifying your params? I was looking through the docs for `URI.encode_query/1` and it looks like it shouldn't encode the `+` sign. Take a look and tell me if you're seeing the same thing https://github.com/elixir-lang/elixir/blob/v1.1.1/lib/elixir/lib/uri.ex#L61

[2015-11-22 20:39] waynehoover commented on #43
@meatherly the query string is getting passed via options to OAuth.authoriz_url! as a string like "foo+bar+baz" which in turn produces this:

[code]

[2015-12-11 20:46] ZJvandeWeg opened #44 "Allow client to receive url as parameter"
Im working on a strategy for a product where one can set up his/her own server, on a chosen location. If Im not overlooking something, at the time of writing this cant be easily done. I would like to pass additional information, like the URL to `#client`.

Please let me know what your opinion is on this.

[2015-12-17 17:36] scrogson commented on #44
Hi @ZJvandeWeg can you explain a little bit further what you mean? I have a feeling that you are talking about a dynamic `site` url?

[2015-12-17 18:58] ZJvandeWeg commented on #44
Yeah, for instance if I run a GitLab server at home I'd like to use the same strategy as the strategy for gitlab.com.

Did I clarify it enough?

[2015-12-21 23:14] meatherly commented on #44
You could make it receive one if you wrote your own strategy. Or you could write a function that wraps the `Client.new` func.

[2015-12-22 07:30] ZJvandeWeg commented on #44
@meatherly Very much true, though I do think it might be better to do it in the oauth2 lib itself as more strategies will need it. For example, Github Enterprise will need it once Oauth2 is supported, ownCloud too.
I'm fine with your solution, just wondering if there is a common pattern which can be solved just once.

[2016-01-05 22:31] PotterDai opened #46 ""authorize_url" function always return URL with "client_id: ""
"authorize_url" function always return URL with "client_id: "
Is there a way to modify this atom name?
Some websites request "appid" instead of "client_id" in client authorize URL.

[2016-02-01 09:29] ZJvandeWeg commented on #44
@meatherly
Wow, it _just_ hit me what you really meant. Silly me!

[2016-02-01 09:29] #44 closed

[2016-03-08 15:03] scrogson commented on #46
Thanks for the report. I will look into this.

[2016-03-08 15:04] #43 closed

[2016-03-18 16:43] jlxq0 opened #50 ":ssl_verify_hostname, "make" command failed"
I'm trying to use oauth2 on OS X 10.11.4, but I cannot seem to get my dependencies straight. A `mix deps.get, compile` always results in
[code]
What am I missing here?

[2016-04-06 01:30] scrogson commented on #50
Hi @jlxq0,

What other dependencies do you have in your application?

[2016-05-12 09:16] deadtrickster commented on #4
@scrogson is this final?

[2016-06-27 04:17] bradurani opened #55 "Weird error :noproc"
I've copied and pasted the code from the demo app into my own app, and with both GitHub and Google I'm getting this error on the call to  `OAuth2.Client.get_token!(client(), params)`
[code]

Any help appreciated!

[2016-06-27 04:36] bradurani commented on #55
I should probably have mentioned that with `0.6.0`

[2016-06-27 05:22] bradurani commented on #55
Here's a script that reproduces the problem with `0.5.0`
[code]

[2016-06-27 06:58] bradurani commented on #55
Figured it out,

I didn't have the `oauth2` application added to the application list 😩

[2016-06-27 06:58] #55 closed

[2016-07-18 01:39] jeffutter opened #56 "Subclass OAuth2.Request?"
I'm wondering if there is any way to 'subclass' Oauth2.Request? I see that it uses HTTPoison.Base. I'm used to defining things like `process_response_body` with HTTPoison. Is there a way to do this with OAuth2?

[2016-07-21 04:19] #50 closed

[2016-07-21 04:19] #42 closed

[2016-07-21 04:25] scrogson commented on #56
Hi @jeffutter, at this time, there is not a way to do this. In fact I have [this PR](https://github.com/scrogson/oauth2/pull/52) which removes HTTPoison entirely.

The idea is that you can just specify a serializer module in your config based on the `content-type` header and it will call your serializer for you automatically.

[2016-07-21 10:55] edevil commented on #42
Does this mean that this feature is not planned?

[2016-07-28 16:38] jeffutter opened #58 "Doesn't always properly parse expires_at"
I'm dealing with an API that returns the authorize request as such:

[code]

[2016-07-28 22:21] #58 closed

[2016-07-29 00:09] #56 closed

[2016-08-10 19:29] jeffutter opened #60 "Cut a new release"
Is there any way a new release could be cut? I'm looking to publish something on hex.pm that uses this as a dep, but I need this commit: https://github.com/scrogson/oauth2/commit/3277a29e182e63de2a497af947cf5145b0944a6b

Thanks.

[2016-08-12 20:24] scrogson commented on #60
Hi @jeffutter, sorry for the delay. I need to ensure that the docs are all up-to-date with the latest changes after merging #52. I need to write a migration guide for folks moving from `0.6` to `0.7` as there are breaking changes. I'm short on time right now so I could use some help if you're up for it.

[2016-08-12 21:13] jeffutter commented on #60
Ok, no hurry. I'm also pretty swamped. I'll see If I can pour over the docs some this weekend.

[2016-08-13 13:02] jeffutter commented on #60
@scrogson I think that PR ⬆️ is ready for review. I believe I cleaned up most (if not all) of the changes introduced by #52 . The upgrading guide will probably take someones else's care since I only used the library for a couple days on 0.6 before jumping to master.

Let me know if there is anything you would like me to change on my PR or if there is anything else I can help out with.

[2016-08-16 17:56] jeffutter commented on #60
@scrogson I might take a stab at an upgrade guide. Would you prefer a separate UPGRADE.md or include it in the breaking change section of the change log?

[2016-08-16 23:20] scrogson commented on #60
Hey @jeffutter, changelog would be perfect. Thank you!

[2016-08-17 04:12] scrogson commented on #60
@jeffutter I've published `v0.7.0`! Thank you so much for your help with the docs and changelog, that really helped a ton!!!

🎉

[2016-08-17 04:12] #60 closed

[2016-08-22 15:33] smetana opened #64 "Commit 7d5ae39 breaks AuthCode Strategy for GitHub"
The issue is in commit https://github.com/scrogson/oauth2/commit/7d5ae395d65c08f5c053d53b7c240d85f15ee1ee

Removing client_secret from params makes GitHub to return "incorrect_client_credentials"

As per https://developer.github.com/v3/oauth/#web-application-flow client_secret is required to exchange authorization_code for access_token

[2016-08-22 18:44] scrogson commented on #64
Hi @smetana, the referenced commit was to make the `AuthCode` strategy compliant with the OAuth 2.0 spec. If GitHub requires that you send the `client_secret` along with the request, then it would need to be added manually.

[code]

That should do the trick.

[2016-08-22 18:47] scrogson commented on #46
One way to do this would be to just simply add it as a parameter to the request:

[code]

[2016-08-22 20:29] smetana commented on #64
It does. Maybe it should be noticed in README because current strategy example does not work.

[2016-08-22 23:36] scrogson commented on #64
:+1:

[2016-08-25 13:33] yang-wei commented on #64
I can't get this work.
Following the example:

[code]

[2016-08-25 13:56] yang-wei commented on #64
Ok so i get the token from github but I failed when I request the api:

[code]

[2016-09-02 21:34] masonforest commented on #64
@yang-wei try adding

`params = params |> Keyword.merge([client_secret: client.client_secret])`

to `get_token!` instead of `get_token` like I did [here](https://github.com/scrogson/oauth2_example/pull/15/files#diff-c331efda81a1a1acc451de8cd6de457eR28). Does that work?

[2016-09-03 13:52] yang-wei commented on #64
I gave up and implemented it by myself.
btw nice pr @masonforest

[2016-09-11 11:31] binarytemple commented on #64
@yang-wei care to share a link to your implementation?

[2016-09-12 02:17] dannytatom opened #65 "Google strategy not working because of response_type being sent when getting token"
[code]

I think because of this?

https://github.com/scrogson/oauth2/blob/master/lib/oauth2/strategy/auth_code.ex#L55

Not really sure tho 'cause no request actually happens here but does happen `Client#get_token`. ¯\_(ツ)_/¯

Either way, how can I get rid of that param when making token request?

[2016-09-12 02:57] yang-wei commented on #64
@binarytemple https://github.com/lidashuang/github_oauth

[2016-09-12 07:24] binarytemple commented on #64
thanks @yang-wei - I might have to do something custom for Paypal Oauth, understand it isn't quite a standard implementation, hence the ask.

[2016-09-13 09:01] beno opened #66 "Refresh is broken"
When I refresh a token, the client incorrectly sends an authorization header (with the expired `access_token`) and an `accepts` header of `application/x-www-form-urlencoded`. The server I am talking to trips over the authorization header and refuses the refresh request.

As an aside, the Poison decoder subsequently trips over the HTML error message, probably because of the accepts header. For some

[2016-09-13 16:01] scrogson commented on #66
Thank you for reporting this. What is the server expecting in your case?

[2016-09-13 16:08] beno commented on #66
Hi,

The server wants a wwwformencoded request (as is) with application/json accept header and without any authorization header. Hope this is clear.

Brgds,
Michel

[2016-09-13 16:35] #66 closed

[2016-09-13 16:35] scrogson commented on #66
Hello @beno, can you please try `master`?

[2016-09-13 16:43] #65 closed

[2016-09-13 16:43] scrogson commented on #65
@dannytatom thank you for the report! Please try `master`.

[2016-09-13 17:07] #64 closed

[2016-09-13 17:28] #46 closed

[2016-09-13 20:05] beno commented on #66
Success! I just performed my first token refresh. Thank you.

[2016-09-22 00:36] EyMaddis opened #67 "Default json decoder (Poison) will not be used"
Hi,
since I just spend more than an hour debugging why the authentication did not work.

I use Phoenix which already depends on Poison for JSOn decoding, so I assumed that this would be handled automatically. I also tried to explicitly adding it as a dependency for the application in `mix.exs`.
I now know that I have to manually configure the serializer in my config, but I would suggest to change

[2016-10-02 22:12] scrogson commented on #67
@EyMaddis thanks for the feedback.

How about adding a `parsed?` field on the `Response` struct?

[2016-10-06 01:09] scrogson commented on #67
@EyMaddis I found a bug that sounds related to the problem you experienced. I've fixed it in https://github.com/scrogson/oauth2/commit/fefbce7149482e750b0a649393f09e2ebbfedf1c and have published `0.8.0`. I will keep this issue open until I decide what to do about missing decoders.

[2016-10-13 23:33] liveresume opened #71 "Cannot skip url encode!"
LinkedIn requires parenthesis to indicate parameters to return.  OAuth2 encodes parenthesis to %28 and %29 which results in an error from LinkedIn.  I found this code but it does not work.  Why?

[code]

[2016-10-14 20:47] jessejanderson opened #72 ""client secret cannot be empty" from Yahoo API"
When I try to use `OAuth2.Client.get_token!/2` with a `%OAuth.Client{}` containing the client_id and client_secret, it asks me to include the secret again? It seems like it's supposed to be able to just get that from the included client?

![image](https://cloud.githubusercontent.com/assets/8367129/19402223/c1a854b2-9214-11e6-8052-033136b912da.png)

[2016-10-14 21:02] jessejanderson opened #73 "Client.get_token! not parsing correctly for Yahoo API"
After running `OAuth2.Client.get_token!(client, code: "authcode", client_secret: "secret") I get back a `%OAuth2.Client{}` struct with this inside:

`token: %OAuth2.AccessToken{access_token: "{\"access_token\":\"ABC123A\",\"refresh_token\":\"ABC123B\",\"expires_in\":3600,\"token_type\":\"bearer\",\"xoauth_yahoo_guid\":\"ABC123C\"}"`

I'm assuming that it parsed incorrectly, and all of those should

[2016-10-15 01:03] scrogson commented on #72
@jessejanderson please see my comment [here](https://github.com/scrogson/oauth2/pull/69#issuecomment-251752721)

You can just pass it in as a param along with your `code` like so:

[code]

You might want to make a custom `OAuth2.Strategy.Yahoo` module in your app that adheres to Yahoo's specific requirements (some of which are outside of the OAuth2 spec).

[2016-10-15 01:03] #72 closed

[2016-10-15 01:06] scrogson commented on #73
Hi @jessejanderson,

Did you configure the serializers for the `content-type` that Yahoo is returning? See [here](https://github.com/scrogson/oauth2#configure-a-serializer) in the README.

If you provide that bit of configuration, it should parse it for you automatically.

[2016-10-15 04:57] jessejanderson commented on #73
I'm a bit out of my element here, so excuse the obvious newbie-ness. 😬

For a bit I thought Yahoo was returning `application/x-www-form-urlencoded`, but I think that is just the content-type that is _sent_ to Yahoo with the `Authorization: Basic ABC123` header.

As far as I can tell, the `content-type` returned by Yahoo is just `application/json` because it is being interpreted by Poison. To get i

[2016-10-15 05:01] jessejanderson commented on #72
Doing the custom strategy thing and this was easily fixed up, thanks!

[2016-10-15 05:41] scrogson commented on #73
You should not need to define a custom serializer for `application/json`. If you have `Poison` included in your project just configure with:

[code]

It looks like Yahoo is sending you back a token in JSON format, so the `content-type` header should be `application/json`. With the above configuration, `Poison.encode!/1` should be called automatically for you behind the scenes.

[2016-10-15 05:46] jessejanderson commented on #73
Right, okay so that's how it's setup - but the problem is what I posted originally where it is throwing everything as a single concatenated string into `token: %OAuth2.AccessToken{access_token: _____}`

[2016-10-15 05:54] jessejanderson commented on #73
![image](https://cloud.githubusercontent.com/assets/8367129/19407786/1e217358-9261-11e6-9326-4c2bb1443aac.png)

[2016-10-20 01:52] fajarmf commented on #71
I believe since we are directly using hackney know since 0.6, your skip_url_encode_option should be modified into:

[code]

[2016-10-20 17:31] fajarmf commented on #73
I did something along this line with facebook and linkedin when getting the token:
[code]
you were passing on a client but the code think of it as a token.

[2016-10-20 17:54] fajarmf opened #74 "Response from facebook is not parse properly"
I am trying to upgrade ueberauth_facebook with the recent version of oauth2. However the response from facebook is in this format `access_token=xxxx&expires=yyy` and the headers is `{"Content-Type", "text/plain; charset=UTF-8"}`. I understand that there is a special decoding for `"application/x-www-form-urlencoded"` content type, and also there is some way to use serializer. Is there any way to in

[2016-10-21 12:17] scrogson commented on #74
Hello @fajarmf,

Thanks for the report. I removed code that handled this in `0.8.0` as I wasn't sure why I added it in the first place :)

I'll add it back in since this is a regression. Thanks for the report.

[2016-10-21 12:22] #71 closed

[2016-10-21 12:28] #74 closed

[2016-10-21 13:10] scrogson commented on #73
@jessejanderson can you please try with `master`?

I've added an option to allow to debug the responses coming back.

You can enable by adding the following your `config.exs`:

[code]

This will allow you to verify the response coming back from Yahoo has the `content-type` header set correctly or not.

Please give it a shot and let me know.

[2016-10-22 00:07] jessejanderson commented on #73
Ahh - fixed it! I didn't have my serializers setup correctly. It defaulted with
[code]

Thanks @scrogson for helping me find that and providing the debug!

[2016-10-22 00:07] #73 closed

[2016-10-22 00:09] #67 closed

[2016-10-22 11:13] EyMaddis commented on #67
@scrogson I think that a `parsed` field wouldn't change the issue. If I want to know if it was parsed I can just check the type of the response body. The developer will still need to manually check that property which leads to nasty hidden bugs

[2016-11-14 22:18] jtzero opened #75 "get_token no client_secret in params"
while using https://github.com/scrogson/oauth2_example (google auth)  in
[code]
client.params =
[code]

and this ends up throwing
[code]
just to test this theory (because I don't the inner workings) replacing the case line with
[code]
and it works.

[2016-11-14 22:20] jtzero commented on #75
```@version "0.8.0"```

[2016-11-14 22:31] scrogson commented on #75
Hello @jtzero,

Please see #72 for an explanation of this issue.

The issue you are experiencing is not with this repo, but the implementation on the `oauth2_example` repo.

You will need to use `put_param/3` to the `Google` module [here].

[code]

If you want to contribute a fix over there, feel free!

[here]: https://github.com/scrogson/oauth2_example/blob/master/web/oauth/google.ex#L40

[2016-11-14 22:31] #75 closed

[2016-11-14 22:43] jtzero commented on #75
awesome thanks for pointing me in the right direction!

[2016-11-18 16:33] kelostrada opened #76 "Publish master as 0.8.1"
Until you publish version `0.9.0` can you publish master fixes as `0.8.1`?

[2016-11-18 16:42] kelostrada opened #77 "expires doesn't work for facebook's oauth2"
Referencing #59 @jeffutter
Facebook's oauth2 returns `expires` field as a number of seconds for the token to expire. The referenced PR made it this way that `expires` is interpreted as a `timestamp` on which the token will expire, not the number of seconds till the expiration. What is the basis for this decision?

[2016-11-18 16:42] scrogson commented on #76
Sure, let me take a look at the changes...

[2016-11-18 16:47] jeffutter commented on #77
I may be misunderstanding, but as far as i can tell, It was made so that expires is pared to an int if it is a string. Expires isn't coerced to a timestamp. I think it may ultimately be stored on the struct as a timestamp, but expires itself is converted to an integer of seconds in the future.

It was to resolve this: https://github.com/scrogson/oauth2/issues/58 an API from Honeywell that was usin

[2016-11-18 16:49] scrogson commented on #77
@jeffutter that's how I understand it as well.

[2016-11-18 16:54] kelostrada commented on #77
yeah guys, but looking at the code I don't see `expires` being later converted to `timestamp` by calling for instance expires_at again.

This is what I found in the code:

    expires_at:    (std["expires_in"] |> expires_at) || (other["expires"] |> expires),

Maybe it should be something like this?

    expires_at:    (std["expires_in"] |> expires_at) || (other["expires"] |> expires |> expires_at)

[2016-11-18 16:59] kelostrada commented on #77
The other thing that comes on my mind is we might just change the struct to:

    @type access_token  :: binary
    @type refresh_token :: binary
    @type expires_at    :: integer
    @type expires    :: integer
    @type token_type    :: binary
    @type other_params  :: %{}
    @type body          :: binary | %{}

And make the developer of strategy be responsible to use `expires_at` or `expires

[2016-11-18 17:18] scrogson commented on #76
Done:
* https://github.com/scrogson/oauth2/releases/tag/v0.8.1
* https://hex.pm/packages/oauth2/0.8.1

[2016-11-18 17:18] #76 closed

[2016-11-18 17:26] scrogson commented on #77
Ultimately, `expires_at` should be a timestamp. We should not add another field to the struct, that will just make things more complicated.

When you get this value from the provider (Facebook), and you store the token somewhere, and then use it again, how can you tell if it's expired or not without converting the expires in seconds, to a timestamp?

If Facebook is sending a timestamp already, the

[2016-11-18 17:39] kelostrada commented on #77
The case is as a user of `oauth2` I'm not responsible of converting `expires` to timestamp. I get a structure `AccessToken` and there is a field `expires_at` which when I use this with Facebook is equal to something like 5180577 (which is obviously not a correct timestamp). You can check `ueberauth_facebook` - this is the value I get when I use their strategy.

[2016-11-18 17:46] scrogson commented on #77
Ok. Got it. Which version of the Facebook API are you using? Looking [here] (scroll to the very bottom), they seem to be sending an `expires_in` field, not `expires`.

If we're not handling things properly, I agree that it needs to be fixed. We just need to figure out exactly how to proceed.

Also, the `extra` fields that are sent in the token (including `expires`) are available in the `other_para

[2016-11-18 18:05] kelostrada commented on #77
Im not sure right now :/ i will sit to this tomorrow cause right now im not available anymore, but what I can tell you is I'm just using ueberauth_facebook package and as far as I checked they do not send expires_in, maybe some older API is used by this package. I will check that tomorrow, but I know for sure now that oauth2 package handles expires field just by directly converting it to int, it d

[2016-11-19 13:33] jeffutter commented on #77
What about changing:

```      expires_at:    (std["expires_in"] |> expires_at) || (other["expires"] |> expires),```

To

```      expires_at:    (std["expires_in"] |> expires_at) || (other["expires"] |> expires_at),```

Note: expires -> expires_at at the end.

Without testing it, I think that may fix this issue.... however I'm guessing it was that way for a reason, and that would break other thin

[2016-11-19 14:02] kelostrada commented on #77
About expires field being sometimes sent as seconds and sometimes as timestamp - that was the same thing I was wondering. That's why I suggested changing the structure of AccessToken if that was the case.

[2016-11-20 13:48] kelostrada commented on #77
@jeffutter

Wasn't that your idea to introduce `expires` function? :) Before your PR it was only `expires_at` which acted differently if the input was `int` or `binary`. Maybe we should just return to using only `expires_at` function and assume that `expires` field always acts the same way as `expires_in`.

What I mean is that before your PR this would work exactly this way if `expires` field was

[2016-11-20 20:39] scrogson commented on #77
If you look at the original comment by @jeffutter in #58, it looks like `expires` was coming back as the amount of seconds until it expires:

`{ "access_token": "k8sbPR4is2C7ipTYgEbi8fe470mp", "refresh_token": "dQJiREMfaHhDBoGohIj7JEpIOYYk9Jif", "expires_in": "599" }`

So, the correct handling should simply be to run `other["expires"]` through `expires_at/1`.

PR welcome!

[2016-11-20 20:40] scrogson commented on #77
Wait a minute...that key is `expires_in` ...

[2016-11-21 10:03] kelostrada commented on #77
Okay, i can prepare a PR with removal of expires function and just use expires_at in both cases

[2016-11-21 21:13] scrogson commented on #77
https://github.com/scrogson/oauth2/pull/78

[2016-11-21 21:13] #77 closed

[2016-12-03 18:29] tsubery opened #79 "feature suggestion: auto refreshing access tokens"
Hello,

I noticed there is implementation of refresh token and access token. For any long running access the users of the library would have to manually refresh tokens for providers that require it like Google. I think it makes sense to add some logic to automatically refresh expired tokens when making requests. For backward compatibility, we can off by default.
Let me know if you are interested i

[2016-12-04 19:00] scrogson commented on #79
Hi @tsubery,

I'm hesitant to put this directly into this library. This library is meant to provide low-level OAuth2 building blocks.

Can you give me an example of how you are using this library so I can better understand what it is that you expect to accomplish?

Specifically, how are you storing tokens for later use?

[2016-12-05 03:51] tsubery commented on #79
My use case is a long running background job that access google's api and collects information periodically. That means I need to store a token that eventually expires and need to be refreshed.

When I wrote the issue I forgot about the immutability of data in Elixir. I was thinking it would be clean and easy to make any request fetch for a new access token using the refresh token when necessary.

[2016-12-05 04:59] scrogson commented on #79
@tsubery,

Yeah, I've thought about including some sort of token store for a while. However, it seems difficult to make something generic enough to work with all use cases without further thought.

[2016-12-05 15:09] tsubery commented on #79
Yea, seems like it might be mixing too many responsibilities. What do you think about the new function I suggested?

[2016-12-07 20:58] ponty96 opened #80 "DNS_PROBE_FINISHED_BAD_CONFIG"
Getting this after following the example here https://github.com/scrogson/oauth2_example and implementing for Google

[2016-12-07 21:02] scrogson commented on #80
Hi @ponty96 can you please provide some context for this error?

[2016-12-07 21:06] ponty96 commented on #80
Yeah. So I'm using that example and I'm trying to implement Google Oauth. So when I visit http://localhost:4000/google it redirects to the a Google URL and I get that error on the page. Which I should instead get the page where I sign in to google

[2016-12-07 21:21] scrogson commented on #80
I just tried the example app and it worked fine for me. The error you are getting seems unrelated to the example app or this library.

Did you export the necessary environment variables for you Google application for use in the example app?

If not, they are:

[code]

Other than that, I'm not sure what else it could be.

Doing a quick search for the error you provided lead me to this post: http://

[2016-12-07 21:22] scrogson commented on #79
@tsubery not at this time. Thank you.

[2016-12-07 21:22] #79 closed

[2016-12-08 10:24] ponty96 commented on #80
yeah. it was a silly error from my end

[2016-12-08 11:05] ponty96 commented on #80
But I'm getting this now, this is after I accept on the google authorize page
<img width="1115" alt="screen shot 2016-12-08 at 12 03 27 pm" src="https://cloud.githubusercontent.com/assets/11190968/21007711/652a7f62-bd3e-11e6-82cf-3222756a5ba6.png">

[2016-12-08 18:42] tsubery commented on #80
@ponty96 If I remember correctly, google requires different credentials for different clients (front/backend). When you create new credentials, they ask what type of client do you need it for. You can try creating new credentials and see if that works.

[2016-12-08 19:11] ponty96 commented on #80
@tsubery I've tried doing that...  Same issue

[2016-12-14 15:26] johannesE commented on #80
I might have the same issue with github:
After getting the token, my client looks like this:
`pry(1)> client
%OAuth2.Client{authorize_url: "https://github.com/login/oauth/authorize",
 client_id: "foo",
 client_secret: "foo", headers: [],
 params: %{}, redirect_uri: "http://localhost:4000/auth/github/callback",
 site: "https://api.github.com", strategy: GitHub,
 token: %OAuth2.AccessToken{access_to

[2016-12-15 05:56] scrogson commented on #80
@johannesE did you set the configuration for the serializers as outlined in the README? It looks like the access token came back fine but wasn't properly parsed.

[code]

[2016-12-15 08:11] johannesE commented on #80
Oh my god, that was it. Sorry for wasting your time. Thank you for the help!

[2016-12-16 00:01] #80 closed

[2017-01-03 18:11] benjamin79 opened #85 "How to set parameters in get request?"
Hi,

thanks for the lib.

What do i need to put at the ??? to set start-date="2016-12-12, ids = ...?
OAuth2.Client.get!(client, "/https://www.googleapis.com/analytics/v3/data/ga", ???).body

thanks

[2017-01-04 18:53] tsubery commented on #85
That should work:
OAuth2.Client.get!(client, "https://example.com/", params: %{
  "start-date" => "2016-12-12"
}).

[2017-02-17 02:18] tsubery opened #88 "Registering serializers"
I'm writing an oauth strategy that needs an extra serializer. Eventually I want to release it as hex package. I rather avoid instructing the package users to configure oauth2 with the extra serializer if I can avoid it as it might conflict with other libraries. At the moment I just deserialize the response myself. With the latest oauth2 version, the users will get a warning about the missing seria

[2017-03-09 15:53] slashmili opened #90 "Wrong Content-Type when calling token api"
I'm using oauth2 library with:

[code]
[code]

# Problem
When I try to get token with `OAuth2.Client.get_token` function I get failure from google OAuth server saying:
[code]
I debugged the request the we made from Elixir(hackney). it's like this:

[code]

And as you see `Content-Type` is somehow wrong.

I tried to call google oauth token with only one `application/x-www-form-urlencoded` and `appl

[2017-03-09 15:57] slashmili commented on #90
BTW I have to mention google changed API behaviour today, I've been using the same code past few days and it stops working since morning

[2017-03-09 16:08] slashmili commented on #90
I also ran this code from both versions and you can see the result here https://requestb.in/1dlgnti1?inspect

[code]

[2017-03-09 16:18] scrogson commented on #88
@tsubery I'm definitely in support of this feature. I will work on something for `v0.10.0`.

[2017-03-09 16:18] #88 closed

[2017-03-10 21:44] scrogson commented on #90
Fixed in #91

[2017-03-10 21:44] #90 closed

[2017-05-22 16:42] spencerldixon opened #93 "Arguement error in `to_url`"
I'm trying to put a simple Oauth link on the page, having followed the github example in the docs and come up against this error...

[code]

Checking out line 391 leads us to...

[code]

And putting in an IEx.pry shows that the `endpoint(client, endpoint)` function seems to be the culprit breaking here.

What's going on here? 😕

[2017-05-22 22:12] spencerldixon commented on #93
Fixed it! Ensure you use double quotes for your strings when specifying the `authorize_url` etc. Old ruby habits die hard!

[2017-05-22 22:12] #93 closed

[2017-06-09 15:47] ngw opened #94 "connection refused that never hits the server"
Hi, I'm writing a ueberauth adapter for a custom rails application using doorkeeper.
I receive a "connection refused" during the first "handshake", when the provider hits my phoenix app redirect_uri with a code.
This is the client as in OAuth2.Client.get_token (all urls/codes are local obviously):

    %OAuth2.Client{authorize_url: "http://localhost:3000/oauth/authorize",
     client_id: "9e382aae

[2017-06-09 16:47] scrogson commented on #94
@ngw very strange.

The best place to start would be to enable tracing in `hackney` with:

[code]

Then make the request and inspect the trace output.

[2017-06-12 10:46] ngw commented on #94
I managed to have more output from that, but I can't make any sense of it. I've left some of my debug output as it could eventually help understanding if the params are right.

https://gist.github.com/ngw/c631ac1be3207614ea79671aa6a4f72c

[2017-06-12 14:08] ngw commented on #94
I'm looking with suspect at that

    [hackney trace 80 <0.1009.0> 2017:06:12 10:36:40 4486] no socket in the pool
       Content: [{module,hackney_connect},{line,200},{pool,default}]

My understanding is that it should be very hard to get that problem, and I have no idea how am I causing it.
I'm calling the library like this:

    def get_token!(params \\ [], options \\ []) do
      headers

[2017-06-15 08:31] ngw commented on #94
Well, it was very difficult to figure out, hopefully if this ever happens again it will be documented.
The problem, as previously described, was that hackney wasn't apparently able to do any request to a service on the same machine, using localhost, 127.0.0.1, 0.0.0.0, and pretty much every other way to refer to the local machine, while curl, using the same arguments, didn't give any problem.
Afte

[2017-06-15 08:31] #94 closed

[2017-07-28 21:23] wandelson commented on #50
I have a same problem.

defmodule PluralsightTweet.Mixfile do
  use Mix.Project

  def project do
    [app: :pluralsight_tweet,
     version: "0.1.0",
     elixir: "~> 1.4",
     build_embedded: Mix.env == :prod,
     start_permanent: Mix.env == :prod,
     deps: deps()]
  end

  # Configuration for the OTP application
  #
  # Type "mix help compile.app" for more information
  def application do

[2017-08-11 07:08] albertchan opened #96 "Getting (OAuth2.Error) :closed when calling OAuth2.Client.get_token!/4"
I've implemented the OAuth2 flow similar to the example. I'm connecting to Microsoft's Azure OAuth2 provider. My auth flow works in the development environment, but when I try to deploy it to our production environment with SSL, I get the following error when I reach the `get_token` portion of the code in which I try to request for an `access_token`.

[code]

What would cause the `:closed` excepti

[2017-08-11 16:19] scrogson commented on #96
Hi @albertchan,

This looks like the connection is being closed for some reason. This is coming from the underlying HTTP client (hackney). Most likely it is returning `{:error, :closed}` when the request was made.

Since you are using `get_token!` you are getting an exception for this. If you remove the `!` you should get `{:error, :closed}` instead.

You can start debugging this in 2 ways:

1. Tu

[2017-09-18 06:56] abadongutierrez opened #97 "Not sending client_secret when getting token"
I'm using oauth2 trying to connect to a Slack App. When get_token it is failing with:

"{\"ok\":false,\"error\":\"bad_client_secret\"}"

because Slack Access Token URL accepts the client_secret as param but oauth2 is not sending it.

A simple hack is to add the client_secret as param to the get_token function but is that correct?

[2017-09-19 21:38] scrogson commented on #97
Hi there @abadongutierrez,

This question has come up a lot. The short answer is that the `client_secret` is not mentioned as a required field in the OAuth2 spec for authorization code flow. Because of that, it is not supplied by the `OAuth2.Strategies.AuthCode` strategy. You can always add it manually by using `OAuth2.Client.put_param`.

[2017-09-19 21:38] #97 closed

[2017-11-02 05:55] mpinkston opened #100 "Client attempts to raise Response rather than Error when status in 400..599"
When a server error type response is returned while running `OAuth2.Client.get_token!(...)`, the content of the error tuple is an `OAuth2.Response` rather than `OAuth2.Error` causing an ArgumentError on the raise call.

Shouldn't the error response in `OAuth2.Request.process_body(..) when is_binary(body)` -- line 85 be wrapped in an error struct so as to be raisable? Perhaps the response can then

[2017-11-02 05:58] mpinkston commented on #100
in master 😱

[2017-11-02 05:58] #100 closed

[2017-11-17 09:10] barthez opened #101 "Release 0.9.2"
Hello @scrogson,

Would you mind to release new version of oauth2 that contains fixes from https://github.com/scrogson/oauth2/pull/98? I'm struggling with the same issues that author was struggling at that time. Please 😃 .

Thanks a mill,
Bartek

[2017-11-17 15:48] scrogson commented on #101
Done!

https://github.com/scrogson/oauth2/releases/tag/v0.9.2

[2017-11-17 15:48] #101 closed

[2017-11-17 15:49] #96 closed

[2017-11-18 14:20] acrolink opened #102 "Kindly explain under which circumstances the access_token needs to be stored and used"
For Phoenix application action authorizations or when calling Google API only?

[2017-11-20 13:09] barthez commented on #101
❤️ 💙 💚 💛 💜

[2017-11-30 02:02] benzen opened #103 "Document the way to use the different strategies"
There is at least three strategies.
And only one is explained in plain text.

We need more doc in order to use this

[2017-11-30 02:53] benzen commented on #103
I'm looking for documentation of how to use the strategy, not creating my own strategy

[2017-12-15 16:58] jeremyjh commented on #97
@scrogson I just spent about an hour figuring this out for myself. I'm using Okta, which requires it for token requests. I wonder if there are providers which don't? Maybe this should be addressed in the README since this "comes up a lot".

[2017-12-15 18:01] scrogson commented on #97
A PR would be very welcome.

[2018-01-25 11:04] michallepicki opened #106 "`debug: true` does not log http requests, only responses"
elixir verision: Elixir 1.6.0 (compiled with OTP 20)
oauth2 version: 0.9.2

edit: I just realized this wasn't supported yet so it is rather a feature request than a bug submission.

[2018-02-05 10:08] kluufger opened #108 "Doesn't seem to pass client_secret when getting a token"
Not sure if it's actually needed, but passing client secret in params makes it work with google.

[code]

Otherwise google returns
[code]

[2018-02-05 15:53] scrogson commented on #108
@kluufger yep, that's Google's requirement which should be added in a Google specific strategy. This library is meant to serve as a base OAuth2 client.

[2018-02-05 15:53] #108 closed

[2018-02-05 15:56] kluufger commented on #108
@scrogson thanks for clarifying it.

Should https://github.com/scrogson/oauth2_example/blob/master/web/oauth/google.ex be updated then? Would you like me to submit a PR?

[2018-02-05 16:02] scrogson commented on #103
Here is an example of how to use the `AuthCode` strategy: https://github.com/scrogson/oauth2#authorization-code-flow-authcode-strategy

The other strategies are similar, but after looking again at the README and the docs, I see that I need better docs.

Thanks for pointing that out @benzen

[2018-02-05 16:03] scrogson commented on #102
@acrolink an `access_token` will need to be used anytime you need to make a request to an OAuth2 provider's API (i.e. Google).

Storage of the `access_token` is outside the concern of this library.

[2018-02-05 16:03] #102 closed

[2018-02-05 17:44] scrogson commented on #108
@kluufger there are already many PRs on that repo to do just that...I haven't gotten around to reviewing/merging any of them.

[2018-02-22 17:35] bshaffer opened #110 "Error: no match of right hand side value: :undefined"
Hello! Fantastic library!
When I run your oauth2-example repository, everything works as expected. However, when I create a phoenix app from scratch and use the same code, I get the following error:

# no match of right hand side value: :undefined

The code line this is on is as follows:
[code]

I've been trying everything to get this code to return, and nothing I do changes the error. I've change

[2018-02-27 23:46] scrogson commented on #110
@bshaffer can you provide a link to some code? Or provide a project that produces the error you're seeing? Without that, I can't really be too much help.

[2018-04-20 22:19] AlmogRnD opened #113 "Question can this be used with coherence?"
Wanted to know if this can be used with Coherence package?

[2018-04-21 08:41] happysalada opened #114 "Poison depedency"
You have a dependency on Poison.
Probably up until now, since Phoenix was using poison, it was working fine. The new Phoenix use Jason. So you will either need to specify the Poison dependency or switch to using Jason.

[2018-04-28 21:03] scrogson commented on #114
Hi @happysalada,

This library only depends on `Poison` for tests, but it does set up the JSON serializer to use `Poison` by default and requires users to pull it in as a dependency.

I have this PR: https://github.com/scrogson/oauth2/pull/92 (which is over 1 year old) which changes the way serializers are registered.

I'll probably consider using `Jason` instead of `Poison` before I get around to

[2018-04-28 21:03] #114 closed

[2018-04-28 21:08] scrogson commented on #113
@AlmogRnD I haven't every used `coherence` so I can't comment on that. But it does look like Coherence has a lot in common with Devise (Ruby). Maybe the equivalent of the Omniauthable strategy would be Ueberauthable?

In that case, maybe @smpallen99 would have a better understanding on how that would fit together?

[2018-04-29 01:43] AlmogRnD commented on #113
@scrogson I got it working using an hex package, closing this

[2018-04-29 01:43] #113 closed

[2018-04-29 02:05] scrogson commented on #113
@AlmogRnD can you post a link to the hex package? It would be nice to document for others that might have the same question.

[2018-04-29 02:07] AlmogRnD commented on #113
Sure it's https://github.com/danschultzer/coherence_assent

[2018-06-23 22:07] #110 closed

[2018-06-25 07:22] silviurosu opened #115 "authorization_code strategy does not send client_secret for get token request"
I had issues with getting the token. I noticed that Ruby client works fine. Then I investigated there requests and found out that the Ruby client send also the client_secret on the wire.

Although this can be accomplished by appending this param again to the get token request
`
client = OAuth2.Client.get_token!(client, code: "xxxxxxxxx", client_secret: "xxxxxxx")
`
this is not at all obvious and n

[2018-06-25 16:14] scrogson commented on #115
@silviurosu I'm sorry to hear of your troubles. You're not the only one who has run into something like this. This issue has come up a few times before.

The problem is, this library attempts to provide strategies that follow the `OAuth2` specification but allow for users to extend them, OR write a specific strategy for the target service.

I probably won't accept a PR that adds `client_secret` to

[2018-06-25 16:14] #115 closed

[2018-08-07 21:46] ShaneWilton opened #119 "Typespecs for get_token and refresh_token are wrong"
The typespecs for get_token and refresh_token are:

[code]

But as of v0.9.0, it is also possible for `{:error, OAuth2.Response.t()}` to be returned.

[2018-08-07 22:43] scrogson commented on #119
Feel free to submit a PR.

[2018-08-08 00:14] #119 closed

[2018-12-20 00:52] RyanSiu1995 opened #126 "Adding OAuth2 Token Introspection"
Does it sound good to add token introspection into the library? This makes the library not to restrict in serving as the OAuth client. It can also be a resource provider.
Any ideas?

Ref: [https://tools.ietf.org/html/rfc7662](https://tools.ietf.org/html/rfc7662)

[2018-12-20 01:46] scrogson commented on #106
Fixed by #125

[2018-12-20 01:46] #106 closed

[2018-12-20 01:50] scrogson commented on #126
Hi @RyanSiu1995,

So far, I've only been interested in supporting the base OAuth2 spec in this library. With that said, I'm open to seeing some proposals to what changes would be needed in order to support this.

I don't have much time or interest in doing this work myself, but if you're up for it, I'd be open to hearing what you have in mind.

[2018-12-20 11:41] RyanSiu1995 commented on #126
Hi @scrogson,
I just want to have a simple extension about introspection first, like this.
[code]
The function just first checks the access token with authorization party. Then, the user can use his own customized function to handle the response. Like some responses from the authorization party may lead to the failure of authentication.
It may be a simple function for the moment being first. All i

[2018-12-26 13:44] #126 closed

[2019-02-19 03:12] #103 closed

[2019-03-05 16:17] robotlovesyou opened #128 "authorization_code strategy is not authenticated"
Unless I am misreading the code, there does not seem to be any attempt to authenticate the client when exchanging the code for a token using the authorization_code strategy. This is similar to the issue #115 but your response there seems wrong by my reading of the spec.

The final paragraph of section 4.1.3, which describes the request for an access token (https://tools.ietf.org/html/rfc6749#secti

[2019-03-21 20:42] peter-sf opened #129 "How to get refresh token with Strategy AuthCode"
Hello! I'm trying to follow this sample to handle Google OAuth inside my project.
I have a problem because I'm not sure what I have to do to get `refresh_token`. Actually, I'm getting only `access_token`

`%OAuth2.Client{
  authorize_url: "/o/oauth2/auth",
  client_id: "xxxx",
  client_secret: "xxxx",
  headers: [],
  params: %{},
  redirect_uri: "http://localhost:4000/redirect",
  ref: nil,
  req

[2019-03-28 15:51] arfl opened #130 "Hackney dependency to strict"
Hi.
Are there any reasons you require hackney version ~> 1.13.0? The current version of it is 1.15.1.

[2019-03-28 15:51] #130 closed

[2019-03-28 18:33] scrogson commented on #129
Hi @peter-sf,

Which version are you using? From the looks of your example above, it appears that your access token was not parsed (JSON).

If you're using `v1.0`, you'll need to register a JSON serialize as described [here](https://github.com/scrogson/oauth2#configure-a-serializer).

Hope that helps!

[2019-03-28 18:36] scrogson commented on #128
@robotlovesyou looking at section 4.1.3, I see no mention of `client_secret`. Many servers seem to require this, but as it is not part of the spec, I have chosen to not include it. If the server you're interacting with requires it, it can easily be added via `put_param`.

[2019-03-28 19:08] scrogson commented on #128
@robotlovesyou after looking a bit further, I think I see what you're saying in regards to the basic auth header.

I was reading in section [2.3](https://tools.ietf.org/html/rfc6749#section-2.3) and it appears that the preferred method for sending client credentials is via basic auth header.

While this is probably not a complete disaster, I guess I have been misinterpreting the spec all this time

[2019-03-29 11:08] robotlovesyou commented on #128
Great. Thanks for looking into it.

[2019-04-04 07:12] goofansu opened #133 "mime type text/plain cannot be parsed by a registered serializer"
I registered a `Jason` serializer for `text/plain`, but it has no effect.

For example, when parsing Weixin OAuth2 login (http://open.weixin.qq.com), the content type is `text/plain`, but it returns JSON actually.

Reference: https://github.com/elixir-wechat/ueberauth_weixin/blob/1e08d55200593dfcc3af21992a0093637cf5dd0b/lib/ueberauth/strategy/weixin/oauth.ex#L11

#132 resolves this problem.

[2019-04-12 14:28] #133 closed

[2019-04-12 17:07] #128 closed

[2019-05-05 13:30] joobisb opened #134 "header"

[2019-05-05 13:30] joobisb opened #135 "Not able get access token with ClientCredentials strategy"
@scrogson This is my curl request and I'm getting the access token successfully.
`curl -X POST --user <client_id>:<client_secret> '<site_url>/oauth2/token?grant_type=client_credentials' -H 'Content-Type: application/x-www-form-urlencoded'`

Following are the steps I followed

[code]

I,m getting response as 405 method not allowed as below

[code]

[2019-05-05 13:38] #134 closed

[2019-05-05 13:55] scrogson commented on #135
@joobisb can you please try with `master`?

[2019-05-05 13:59] joobisb commented on #135
@scrogson I tried by importing this in mix.exs

def application do
  # Add the application to your list of applications.
  # This will ensure that it will be included in a release.
  [applications: [:logger, :oauth2]]
end

defp deps do
  # Add the dependency
  [{:oauth2, "~> 1.0"}]
end

What should I do to try in master?

[2019-05-05 14:01] scrogson commented on #135
[code]

[2019-05-05 14:10] joobisb commented on #135
@scrogson I tried but still getting same error response

[2019-05-05 14:24] scrogson commented on #135
I believe the content-type is set for you automatically.

[2019-05-05 14:26] scrogson commented on #135
Just to make sure...did you run `mix does.update oauth2` after changing the dependency in `mix.exs`?

[2019-05-05 14:30] joobisb commented on #135
yes I did that

[2019-05-05 14:45] joobisb commented on #135
@scrogson So what might be the issue?

[2019-05-05 14:46] scrogson commented on #135
Next thing to try is to turn on hackney tracing and figure out what is being sent to the server. Place this before the call to `get_token`:

[code]

[2019-05-05 15:27] joobisb commented on #135
@scrogson The issue is solved. By default the accept and content-type header was `application/x-www-form-urlencoded` and that was causing the problem.  I changed accept header to `*/*` and I got the access token. Thanks for helping me to trace it out.

[2019-05-06 15:29] #135 closed

[2019-05-19 19:43] dvjones89 opened #136 "Support For HTTP Basic Auth hasn't (yet) been officially released"
Hi Sonny,

Thanks for pulling together this excellent OAuth package. I've been working on an OAuth integration this evening and spent an hour or so banging my head against a `401 unauthorized` response. I compared the request being sent by this package against a (successful) Postman request and saw that the only different was how the `client_id`and `code` were being sent. Postman sends the credent

[2019-05-20 15:44] scrogson commented on #136
Excellent! Thanks for pinging me on this. I will work on a new release this week.

[2019-06-11 21:31] DavidOliver commented on #136
I ran into this today. :)

It's a simple workaround, but in case it's of use to anyone else, I used this is my custom strategy:

    def get_token(client, params, headers) do
      client
      |> put_header("accept", "application/json")
      |> put_header("Authorization", "Basic #{get_token_basic_auth()}")
      |> OAuth2.Strategy.AuthCode.get_token(params, headers)
    end

    defp get_token_b

[2019-07-11 17:47] sheharyarn opened #139 "Global Serializer Registration"
After v1.0.0, we have to specify serializers for each client manually. While it makes sense to have the ability to specify serializers on a per-client basis, `oauth2` should've kept the global serializer config map so clients can fallback to global specifications when they're not explicitly set.

TL;DR: I want to bring back this:

[code]

[2019-07-15 16:32] scrogson commented on #139
Hi @sheharyarn, I'm not interested in supporting/maintaining this approach any longer (which is why I removed it).

This can simply be supported in a function call:

[code]

[2019-07-15 16:32] #139 closed

[2019-07-15 22:07] scrogson commented on #136
Published 2.0 to hex. Thanks for your patience!

[2019-07-15 22:07] #136 closed

[2019-07-15 22:08] #129 closed

[2019-07-16 15:37] michaelst opened #140 "QuickBooks with AuthCode strategy doesn't like client_id with basic auth"
Not sure if client_id was intentionally left in the auth code request alongside the Basic auth, but it does break with QuickBooks, doesn't appear to affect any other of the integrations I have connected with oauth. Thought I would bring it up just in case anyone else runs into that issue.

For now I implemented a delete_param function to remove it
[code]

[2019-07-16 15:45] scrogson commented on #140
Thanks for the report @michaelst

[2019-08-23 21:26] sheharyarn opened #142 "Allow authorizing without basic auth header"
Updating to `v2.0.0` broke a few OAuth2 based integrations in my application. Since then I've been going over the changelog, commit history and the related issues to figure out what caused this.

Looking at Issue #128, PR #131 and the RFC spec, it's clear that you're implementing it correctly. But the fact of the matter is that many services don't support Basic Auth headers at all and instead requ

[2019-08-23 21:34] sheharyarn commented on #142
For starters, this line should be removed since it's not part of the spec, so that services like Quickbooks and Dropbox continue working as expected:

https://github.com/scrogson/oauth2/blob/be5982b7728aa5084902891f98e3d52a9e423a5f/lib/oauth2/strategy/auth_code.ex#L54

Second: while I understand you're implementing the spec correctly, there should be a way to tell the client the desired authentica

[2019-08-23 21:37] sheharyarn commented on #140
Been having the same issue. I cover it in more detail in #142.

[2019-09-11 07:16] sircon opened #143 "Issue with refresh_token"
I'm having issues with refreshing a Spotify token using the OAuth2 library.

This is the debug I'm getting.
[code]

Doing the same request using Curl or Postman works alright, but via OAuth2 always gives a 406...

This would be the Curl equivalent:
[code]

I wonder what am I doing wrong.

This is my last attempt following the Readme:
[code]

I'm using OAuth2 version 2.0.0, in case this is relevant

[2019-09-23 07:05] keithpitty opened #144 "Tuple {:option, :server_only, :honor_cipher_order} being returned for error reason"
The application I'm supporting has OAuth authentication using two different authentication servers. Mysteriously, only in my development environment they have begun exhibiting unexpected behaviour.

When an attempt is made to get a token via `OAuth2.Client.get_token/1`, an error is returned with a tuple rather than a string for the reason. The value of the tuple is `{:option, :server_only, :honor_

[2019-09-23 08:50] keithpitty commented on #144
Discovered that this was caused by https://github.com/benoitc/hackney/issues/591 following an upgrade on my machine to Erlang 22.1.

[2019-09-23 08:50] #144 closed

[2019-09-30 08:02] sickill commented on #143
I had similar problem (406 error), and solved it by overriding `accept` header when constructing client:

[code]

[2019-10-09 18:42] kplattret commented on #140
I had a similar issue with the Battle.net API and this solved it. Thanks!

[2019-10-09 18:42] thatcherhubbard commented on #143
This bit me too, but I don't see anywhere in the repo where it explicitly sets that value on the `Accept` header, just `Content-Type`.  Should the `OAuth2.Client.new` function have a default that sets `Accept` to `*/*`?

[2019-11-04 10:28] BartOtten commented on #144
Can be fixed by updating the dep.

` {:hackney, "~> 1.15 and >= 1.15.2"},`

[2019-11-14 08:42] sircon commented on #143
Thanks @sickill, I will give it a try. If it works then it seems that is missing the accepts `application/json` header as it has the other one.

[2019-11-28 21:40] ericdude4 opened #146 "OAuth2.Client.get_token!/2 not deserializing token response"
[code]
Produces
[code]
Notice `access_token` is still a serialize JSON object.

I am happy to create a PR! In the mean time I will manually deserialize, but that is way less cool.

[2019-11-29 19:45] scrogson commented on #146
What is the value of the `content-type` header in the response? The token is generally decoded automatically based on that.

Also...see the README about configuring serializers.

[2019-11-29 21:16] ericdude4 commented on #146
[code]

If you dig through the response headers: `{"content-type", "application/json; charset=utf-8"}`

Without having looked into the source, maybe the `; charset=utf-8` bit is throwing it off

[2019-11-29 23:21] scrogson commented on #146
@ericdude4 the issue is that you have not supplied a serializer in your client as shown here: https://github.com/scrogson/oauth2#configure-a-serializer

The following should fix your issue:

[code]

[2019-12-11 20:29] olivierbuffon commented on #146
I went through the same issue and I confirm that adding `OAuth2.put_serializer("application/json", Jason)` fix the problem.

[2019-12-11 21:08] #146 closed

[2019-12-17 21:12] ericdude4 commented on #146
Just got back to this and found that `OAuth2.put_serializer("application/json", Jason)` was not quite correct (wrong module, function undefined). The correct function is
[code]

Thank you for your help

[2019-12-17 21:25] scrogson commented on #146
Ah yep. My bad.

[2020-01-24 17:54] mkreyman commented on #142
I'm having a similar issue. Provider that I'm writing a custom strategy for doesn't use either `client_secret` or basic auth header. I had to clone your repo and then comment out `|> basic_auth()` on line 59 in `lib/oauth2/strategy/auth_code.ex`, to be able to get a token. I haven't worked on the refresh token part yet, to comment on that. I need a way to optionally turn basic auth header off.

[2020-01-24 18:59] mkreyman commented on #142
Had to do the following to get rid of the header that was causing 406 with my provider...

[code]

[2020-01-24 22:34] mkreyman commented on #142
Still having issues with getting refresh token... getting 406 from the provider over the authorization header. :(

[2020-01-25 02:52] scrogson commented on #142
@mkreyman if you're implementing your own strategy which doesn't comply with the base OAuth2 spec, you should probably just not pipe through `OAuth2.Strategy.AuthCode` and build up the request as your server requires.

[2020-02-22 21:18] paulspencerwilliams opened #148 "Support for logging out of identity provider"
I've a use-case for users logging out of my identity provider. I've spiked a solution to this using HTTPoison:

[code]

Does `oauth2` provide utility for this?

[2020-05-20 10:51] bjarki opened #149 "OTP 23 OAuth2.Error"
After updating to OTP 23 I get a runtime error.

[OTP 23 removes support for sslv3](https://blog.erlang.org/OTP-23-Highlights/)

[code]

Not sure if this is an error with this library or with https://github.com/sntran/ueberauth_auth0

[2020-05-21 19:47] kbredemeier commented on #149
Stumbles across the same issue. The latest release of hackney has `sslv3` in the default options for supported protocol versions. The fix is already merged to master but there is no new release yet.

[2020-05-27 15:41] rupurt commented on #149
Hackney `0.16.0` is now released with the fix https://github.com/benoitc/hackney/commits/1.16.0

[2020-05-27 16:03] #149 closed

[2020-05-27 18:06] scrogson commented on #148
Hi @paulspencerwilliams I don't believe anything like this is supported in the OAuth2 spec so I would not be interested in providing an API for this. Thank you.

[2020-05-27 18:06] #148 closed

[2020-07-24 07:40] FelixFortis opened #150 "Oauth2.Client.get_token not working for Google"
[code]

Responds with:
[code]

"The server cannot process the request because it is malformed" - Has anyone run across this problem? Any tips? Thanks in advance.

[2020-11-27 14:52] s22su commented on #150
According to the [docs](https://developers.google.com/identity/protocols/oauth2/web-server#httprest_1) you need to make a call to a different URL. For that, you need to construct a different client and then make a request.

[code]

[2020-12-08 10:17] FelixFortis commented on #150
Thanks @s22su, I'll take a look as soon as I have some time :+1:

[2021-02-19 15:19] Epse opened #154 "No Case clause matching when setting token_method"
I need to communicate with a weird OAuth2 server that uses Client Credentials, but only accepts GET to retrieve a token, not POST.

I found the `token_method` parameter in the documentation / code and set this to `:get`, but this gives the following error:

    ** (CaseClauseError) no case clause matching: %{"grant_type" => "client_credentials"}

With hackney traces enabled, this seems to be the s

[2021-08-25 23:13] sheharyarn opened #158 "Defaults to application/json when content-type header is not present"
Thanks for the amazing library! I came across a bug and wanted to report:

The OAuth2 library [defaults to](https://github.com/scrogson/oauth2/blob/b5cdbdb475a2ffebd0f48e3289f64cfcdd67dfb9/lib/oauth2/util.ex#L11-L21) `application/json` response type when no `content-type` header is present. Since the `Response` module calls [`serializer.decode!(body)`](https://github.com/scrogson/oauth2/blob/b5cdb

[2021-11-30 14:08] kayuapi opened #161 "PKCE flow?"
Hi,

I was just wondering if PKCE flow belongs to the scope of this library? If so, is pull request welcomed? (might do it when I have free time)

ref: https://oauth.net/2/pkce/

[2021-12-16 20:04] andyleclair commented on #158
I'm here to +1 this, we've had an issue with Auth0 today and we've run into the same issue. I'm happy to contribute some code if you would like help on this!

[2021-12-28 13:24] hamidb80 commented on #150
any progress ?

[2022-01-02 13:04] margusp2heathmont commented on #150
This does not work for Cognito also.

The issue in case of Amazon Cognito is that there are double headers and Amazon responds 405.

`
[{"accept", "application/x-www-form-urlencoded"}, {"content-type", "application/x-www-form-urlencoded"},
`

[2022-01-03 06:20] sreecodeslayer commented on #94
Stumbled upon a similar issue.

[code]
[code]

So I tried the same request with HTTPoison:

[code]
[code]

cmiiw, but it turns out Hackney is not following the System Env Var HTTP_PROXY and HTTPS_PROXY here, which causes the requests to be `{:error, :econnrefused}` (https://github.com/benoitc/hackney/issues/539)

Solution was to use `request_opts` when creating a new `OAuth2.Client`

[code]

[2022-01-06 16:26] undefhero opened #164 "%OAuth2.AccessToken{} have not parsed well for Google auth usage"
We faced to a problem when the OAuth2.AccessToken object is not parsing

[code]
It responds with and the OAuth2.AccessToken is not parsed
[code]
Any workarounds here?

[2022-01-10 20:55] joshua-andrassy commented on #164
Was running into a similar issue, but then realized I hadn't [configured a serializer](https://github.com/ueberauth/oauth2#configure-a-serializer)

[2022-01-20 10:46] gmile commented on #164
@undefhero like @joshua-andrassy mentioned, you will need to add a serialiser. However, example from reading is suitable for a token response coming from GitHub, but is not suitable for Google.

A serialiser to handle token response coming from Google would look like this:

[code]

It should work if you change your code to this:
[code]

[2022-01-26 09:44] giddie opened #165 ""Accept" header should be "application/json" when getting token"
**Version:** 2.0.0

According to [the OAuth spec (Section 4.1.4)](https://datatracker.ietf.org/doc/html/rfc6749#section-4.1.4), the "Accept" header should be "application/json" when requesting a token. However, the default is currently "application/x-www-form-urlencoded" when calling `Client.get_token()`.

The 3rd-party OAuth server I'm working with rejects the request with **406 Not Acceptable**.

[2022-03-11 08:31] yordis commented on #165
@giddie are you able to contribute a fix for it?

[2022-03-14 15:17] giddie commented on #165
Sure thing :+1:

[2022-06-16 04:15] yordis commented on #165
@giddie first, somehow I completely miss that you created a PR a long time ago, my apologies.

Re-reading the [the OAuth spec (Section 4.1.4)](https://datatracker.ietf.org/doc/html/rfc6749#section-4.1.4) I can't find where it says that it is required to set such header. Do you mind linking to the precise paragraph and maybe taking some screenshots?

I really don't want to miss and I re-read it mul

[2022-06-16 04:19] yordis commented on #165
My concern is that, kind of related to https://github.com/ueberauth/oauth2/issues/164 you can have a bit more control over the content type and accept, so I am not sure if "assuming" that everyone must be `application/json` is a good call or not.

Again, my apologies, I need to take the time to read the entire spec, so more than welcome to share some bits here about it.

[2022-06-16 20:51] giddie commented on #165
As far as I can tell, when a client sends a request for a token to a server, a missing "Accept" header would be just fine according to the spec. The examples provided in the spec don't have an Accept header. However:

  --- 5.1 Successful Response

So an Accept header of "application/x-www-form-urlencoded", sent by the client, is _definitely_ wrong, because by honouring the requested media type, t

[2022-06-16 22:52] yordis commented on #165
Right, which it sounds fine to me, that is the server telling the client the content-type of the response.

Where is that happening?

I see we send the `content-type` which is different: https://github.com/ueberauth/oauth2/blob/0e05de4441706631017ee05e93fe01ec75e0dea2/lib/oauth2/client.ex#L483

So I am a bit confused about it.

Totally get that, and it sounds like a good optimization, but it seems

[2022-06-17 11:28] giddie commented on #165
Right here, I believe:

https://github.com/ueberauth/oauth2/blob/00640c3809faba5955029a2821c8ab60344044f4/lib/oauth2/request.ex#L131

[2022-06-17 19:56] yordis commented on #165
Following that code, it is adding `content_type` if no `accept` header was specified. The `content_type` will be the `Content-Type` if it was specified.

I think it is OK to do such a change since the spec says it must return `application/json` content type anyway

[2022-06-17 21:26] giddie commented on #165
Not quite: I believe it's setting the `Accept` header to match the `Content-Type` if it's not already defined. In this case, the content type when requesting a token will be `application/x-www-form-urlencoded`, whereas the response will be `application/json`. So this fallback behaviour must be bypassed in one way or another for the token request.

[2022-07-08 17:23] yordis commented on #158
I agree with this, but I am not sure how much of a breaking change would be and the potential downsides of it, I think it will be prudent to try to have some answer for such concern or at the very least a backup plan or guidelines for peeps facing the potential issue with it.

@ueberauth/developers any thoughts on the subject?

[2022-07-23 06:34] arturjzapater commented on #161
If this library doesn't support it, does https://github.com/ueberauth/ueberauth support it?

[2022-09-26 00:12] GildedHonour opened #168 "I want to curse and curse. A lot"
### Steps to Reproduce

When it comes to Twitter API, there's a bug in your lib. If I hadn't fixed a URL manually, I'd perhaps have spent a few additional days cursing Twitter API and wasting my time. Instead I'm cursing your library.

Curse-curse

### Expected Result

success

### Actual Result

failure

[2022-09-26 04:27] ally9335 opened #169 "How to get user_id or username in "callback"?"
### Problem Statement

After Twitter has redirected me to "redirect/callback_url", where will find any information related to my Twitter user? Namely, my `user_id` and `username` don't exist anywhere: neither in  URL, nor in the body.

Is this how it's supposed to be? Or have I missed something?

### Solution Brainstorm

_No response_

[2022-11-15 02:54] korczis commented on #168
I feel your pain and frustration now. So, can you share how can I workaround it?*

[2022-11-23 22:27] #168 closed